:root {
    --neutral-grey: hsl(228, 12%, 48%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.product {
    width: 370px;
}

.product__image {
    background-image: url('./images/image-product-mobile.jpg');
    height: 300px;
    background-size: cover;
    border-radius: 16px 16px 0 0;
}

.product__type {
    letter-spacing: 5px;
    color: var(--neutral-grey);
    text-transform: uppercase;
}

.product__description {
    line-height: 1.5rem;
    color: var(--neutral-grey);
}

.product__price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.actual-price {
    font-size: 2rem;
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
}

.previous-price {
    color: var(--neutral-grey);
    text-decoration: line-through;
}

.product__info {
    padding: 1rem;
    /* siempre usar rem o píxeles */
}